
.weather-data__container {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 5px;
	width: 100%;
	height: 100px;
	line-height: 100px;
	padding: 5px;
	box-sizing: border-box;
}

.weather-extra-info__container {
	width: 40%;
	line-height: 28px;
	text-align: left;
	display: inline-block;
}

.weather-temperature__container {
	width: 60%;
	display: inline-block;
}

.temperature {
	font-size: 28px;
	font-weight: bold;
	padding-left: 20px;
	color: #333;
}

.temperature-type {
	font-size: bold;
	color: #666;
}

.extra-info-text {
	display: block;
	color: #1535c5;
	font-size: 16px;
	font-weight: bold;
}

.w-icon {
	color: rgb(255, 72, 0);
}
