.location-list {
	color: red;
}

@media (max-width: 64em) {
	.location-list {
		max-height: 30vh;
		overflow: auto;
		margin-bottom: 20px;
	}
}

.forecast-title {
	text-align: center;
	padding: 15px 0px;
}
